.gradle
/build/
/modules/**/build/
!gradle/wrapper/gradle-wrapper.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*/lib
out/
build

*/report
__pycache__/
trace.db/
kubernetes-configuration/istio-release-0.8
*/logs
*.log
.DS_Store
secret

build-gradle.properties

docker-compose.yml
